body
{
  background-color: #23272A;
  margin: 0;
  padding: 20px;
  overflow: auto;
  color: white;
}

table {
  padding: 10px;
}

table th{
  width: 50%;
  text-align: left;
}
table td{
  width: 50%;
  height: 50px;
}

input[type="text"], select {
  width: 100%;
  border: 3px solid white;
  background-color: #2C2F33;
  color: white;
  -webkit-appearance: none;
  text-align: center;
}

button {
  width: 100%;
  height: 100%;
  color: white !important;
  border-radius: 5px !important;
  background-color: transparent;
}
#hourShow{
  float: right;
}

input[type="radio"]{
  margin: 0 0px 0 10px;
}

.box{
    background-color: #2C2F33;
    box-shadow: 5px 10px 8px black;
    border-radius: 5px;
}

.uk-select{
  background-color:#2C2F33;
  color:white;
  border: 2px solid white;
  transition: 0.2s ease-in-out;
  transition-property: color, background-color, border;
}
.uk-textarea{
  background-color:#2C2F33;
  color:white;
  width:100%;
  transition: 0.2s ease-in-out;
  transition-property: color, background-color, border;
}

.uk-select:focus{
  background-color:#2C2F33;
  color:white;
}

.uk-textarea:focus{
  background-color:#2C2F33;
  color:white;
}

.uk-select:focus option{
  color:white;
}

.uk-select optgroup {
  /* 1 */
  font: inherit;
  /* 2 */
  font-weight: bold;
  background-color:#23272A;
}

.options{
  color:#FFFFFF;
}


.uk-select:focus{
  color:#FFFFFF;
}

.uk-select option{
  background-color:#23272A;
  color:#FFFFFF;
}

.uk-textarea:focus{
  background-color:#2C2F33;
  color:white;
}
.uk-input{
  transition: 0.2s ease-in-out;
  transition-property: color, background-color, border;
}
.uk-input:focus{
  background-color:#2C2F33;
  color:white;
}
.uk-input[type="date"]{
  background-color:#2C2F33;
  color:#FFFFFF;
}
.uk-select, input[type="date"], .uk-checkbox, .uk-textarea,.uk-radio, .uk-input, .uk-button, input[type="text"], button {
  border: 1px solid white !important;
  transition: 0.2s ease-in-out;
  transition-property: color, background-color, border;
}
 /* Switch et slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 20px;
  transition: 0.2s ease-in-out;
  transition-property: color, background-color, border;
}

.tail-datetime-field{
  transition: 0.2s ease-in-out;
  transition-property: color, background-color, border;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

option
{
  color:white !important;
}