/*document.getElementById("body").style["color"]="#4F5660";
		document.getElementById("body").style["background-color"]="white";
		document.getElementsByClassName("box")[0].style["background-color"]="#FEFEE2";*/

body
{
  background-color: white;
  margin: 0;
  padding: 20px;
  overflow: auto;
  color: black;
}

table {
  padding: 10px;
}

table th{
  width: 50%;
  text-align: left;
}
table td{
  width: 50%;
  height: 50px;
}

input[type="text"], select {
  width: 100%;
  border: 3px solid white;
  background-color: #fff;
  border-radius: 5px;
  color: #666;
  -webkit-appearance: none;
  text-align: center;
}
input[type="range"]{
  border: none;
}
input[type="range"]{
  border: none;
}
button {
  width: 100%;
  height: 100%;
  color: #666 !important;
  border: 3px solid white !important;
  border-radius: 5px !important;
}
#hourShow{
  float: right;
}

input[type="radio"]{
  margin: 0 0px 0 10px;
}

.uk-select{
  background-color:#fff;
  color:#666;
}
.uk-textarea{
  background-color:#fff;
  color:#666;
  width:100%
}

.uk-select:focus{
  background-color:#fff;
  color:#666;
}

.uk-textarea:focus{
  background-color:#fff;
  color:#666;
}

.uk-select:focus option{
  color:#666;
}

.uk-select optgroup {
  /* 1 */
  font: inherit;
  /* 2 */
  font-weight: bold;
  background-color:#fff;
}

.options{
  color:#666;
}


select option{
  color:black;
}

.uk-select option{
  background-color:#fff;
  color:#666;
}

.uk-textarea:focus{
  background-color:#fff;
  color:#666;
}

.uk-input:focus{
  background-color:#fff;
}
.uk-input[type="date"]{
  background-color:#fff;
  color:#666;
}

.uk-select, input[type="date"], .uk-checkbox, .uk-textarea,.uk-radio, .uk-input, .uk-button, input[type="text"], button {
  border: 1px solid black !important;
}
 /* Switch et slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 20px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

option
{
  color:black !important;
}
