@import url("styleCalendar.css"); /* --> CSS pour les éléments communs aux 2 pages */


/*Pour la grille :*/
   
.calendar{ 
  grid-template-columns: 50px auto; /*max-content*/
  grid-template-rows: auto;
  position: relative;

  grid-auto-flow: column;
 /* grid-auto-flow: column;*/
  /*grid-auto-columns: minmax(1fr, auto);*/
  /*minmax(160px,1fr);*/
 /* overflow-x: scroll;*/
}

.weekDays,
.dayNumbers-container{
  display: grid;
  grid-template-columns: repeat(7, 1fr); /*15% 15% 15% 45% 15% 15% 15%;*/
  grid-auto-flow: column;
}


/*Pour les events*/

.event-container{
  display: grid;
  grid-template-columns: repeat(7, 1fr); /*15% 15% 15% 45% 15% 15% 15%;*/
  grid-template-rows: repeat(48, 1fr); /*24 heures x 2 divisions : On veut une précision à la demie heure près. Si on voulait 1/4 quart d'heure, on fait 24 x 4*/
  grid-area: main; /*Associe à l'area main*/
  position: relative;

  /*grid-auto-flow: column;*/
  grid-auto-flow: column;
  grid-auto-columns: minmax(100px, auto);
}

.slot{
  position:absolute;
  background: green;
  border-radius: 5px;
  z-index: 5; /*Pour afficher au 1er plan, au dessus des lignes*/
  font-size: 12px;
  /*width: 150px auto;*/
  overflow: auto;


  min-width: 170px;
  max-width: 170px;
}
.slot a{
  color: white;
  text-decoration: underline;
}



/*TODO : probleme, les events ne s'alignent pas bien avec les colonnes + Plus on est loin dans la semaine, plus la case de partie se retrecie en largeur
Ecrire dans la doc la dépendance entre nom des types et code couleur. Optimisable en passant les types dans un xml
Demander ce qui se passe actuellement si une partie est complète (on peut encore s'inscrire ?)*/

/*Pour le responsive et affichage mobile :*/
@-ms-viewport {
  width: device-width;
}


@media screen and (max-width:770px){
  /* Pour les ecrans de moins de 745 pixels de large */

  .slot{
    width: 15% auto;
  }
}